$accent-color: #e879f9;

.sourceInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;

    width: 80%;
    margin-inline: auto;

    margin-top: 3rem;

    &__divider {
        height: 1px;
        width: 100%;

        background-color: white;
        opacity: 0.2;
        mix-blend-mode: difference;

        margin-bottom: 1rem;
    }

    &__title {
        font-size: 16px;
        opacity: 0.7;
    }

    &__link {
        color: white;
        mix-blend-mode: difference;
        opacity: .8;

        display: flex;
        align-items: center;
        gap: .6rem;

        &:hover {
            mix-blend-mode: normal;
            color: darken($accent-color, 10%);
        }

        svg {
            display: inline-block;
            opacity: .7;
        }
    }
}